<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/collection.css">

    <script src="/script/script.js" defer></script>


    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:100&display=swap" rel="stylesheet">

    <title>Menu</title>
</head>
<body>
    <%- include('templates/navBar.ejs'); -%>

    <a href="/collection">
        <h1 class="shoes-head">SHOES</h1>
    </a>

<div class="wrapper">
    <%- include('templates/category.ejs'); -%>


    <div class="brand-img-container">

        <% shoes.forEach(shoe => { %>
             <div class="brand-img">
                
                <a href="/shoes/<%=shoe.name %>" style="text-decoration: none; color: inherit;">
                    <img src="<%=shoe.imageurl %>">
                    <div class="brand-title"><%= shoe.name %></div>
                </a>
                <ul class="brand-list">
                    <li>$ <%= shoe.price %></li>
                </ul>
            </div>
        
        <% }) %>
    </div>
</div>
    <%- include('templates/footer.ejs'); -%>



</body>
</html>