   
    <link rel="stylesheet" href="/css/category.css">
   
    

    <div class="category-container">
        <div class="category">
            <ul>
                <li>
                    BRAND
                    <ul>
                        <% brand.forEach(brand => { %>
                        <li> <a href="?brand=<%= brand%>"><%= brand %></a></li> 
                        <% }); %>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="category">
            <ul>
                <li>
                    GENDER
                    <ul>
                        <% gender.forEach(gender => { %>
                        <li> <a href="?gender=<%= gender%>"><%= gender %> </a></li> 
                        <% }); %>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="category">
            <ul>
                <li>
                    CATEGORY
                    <ul>
                        <% category.forEach(category => { %>
                        <li> <a href="?category=<%= category%>"><%= category %> </a></li> 
                        <% }); %>
                    </ul>
                </li>
            </ul>
        </div>

        <!-- <div class="category">
            <ul>
                <li>
                    PRICE<a href="/collection">PRICE</a>
                    <ul>
                        <input type="number" placeholder="1,000" min="1000" max="50000">
                        <input type="number" placeholder="50,000" min="1000" max="50000">
                    </ul>
                </li>
            </ul>
        </div>   -->

    </div>